@model exoBibliotheque.ViewModels.AuteurViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auteur</title>
</head>
<body>
    <div>
        Nom : @Model.Auteur.Nom
    </div>
    <div>
        Bibliographie :
        <table>
            <tr>
                <th>Titre</th>
                <th>Date parution</th>
            </tr>
            @foreach (exoBibliotheque.Models.Livre livre in @Model.Livres)
            {
                <tr>
                    <td>@Html.ActionLink(@livre.Titre, "Livre", new { id = livre.Id })</td>
                    <td>@livre.DateParution.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
