@model exoBibliotheque.ViewModels.LivreDetailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Livre</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Titre</th>
                <th>Date parution</th>
                <th>Auteur</th>
                <th>Emprunté par</th>
            </tr>
            <tr>
                <td>@Model.Livre.Titre</td>
                <td>@Model.Livre.DateParution.ToString("dd/MM/yyyy")</td>
                <td>@Html.ActionLink(@Model.Livre.Auteur.Nom, "Auteur", new { id = @Model.Livre.Auteur.Id })</td>
                <td>
                    @if (string.IsNullOrEmpty(Model.NomEmpruteur))

                    {
                        <i>Livre libre</i>
                    }
                    else
                    {
                        @Model.NomEmpruteur

                    }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>