@model exoBibliotheque.ViewModels.RechercheViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recherche livre</title>
</head>
<body>
    <div>
        <h1>Résultat de la recherche de : @Model.Texte</h1>
        <table>
            <tr>
                <th>Titre</th>
                <th>Date parution</th>
                <th>Auteur</th>
            </tr>
            @if (Model.Livres.Count > 0)
            {
                foreach (exoBibliotheque.Models.Livre livre in @Model.Livres)
                {
                    <tr>
                        <td>@Html.ActionLink(@livre.Titre, "Livre", "Afficher", new { id = livre.Id }, new { })</td>

                        <td>@livre.DateParution.ToString("dd/MM/yyyy")</td>
                        <td>@Html.ActionLink(@livre.Auteur.Nom, "Auteur", "Afficher", new { id = livre.Auteur.Id }, new { })</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">Aucun livre ne correspond à la recherche</td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
